<h1><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h1>
<h2><%= @game.player_1.name %> has <%= @game.player_1.hit_points %> HP!</h2>
<h2><%= @game.player_2.name %> has <%= @game.player_2.hit_points %> HP!</h2>
<h1><%= @game.player_2.name %>'s turn to attack <%= @game.player_1.name %></h1>
<form class="" action="/second_attack" >
  <input type="submit" name="" value="Attack">
</form>
