<h1><%= @player_1_name %> attacked <%= @player_2_name %></h1>
<h2><%= @player_1_name %> has <%= @player_1_hp %> HP!</h2>
<h2><%= @player_2_name %> has <%= @player_2_hp %> HP!</h2>
<h1><%= @player_2_name %>'s turn to attack <%= @player_1_name %></h1>
<form class="" action="/second_attack" >
  <input type="submit" name="" value="Attack">
</form>
