<h1><%= @player_1 %> v. <%= @player_2 %></h1>
<h2><%= @player_1 %>'s turn to attack!</h2>
<div class="">
  <h3><%= @player_2 %>'s Hit Points: <%= @player_2_hp %></h3>
</div>
<form class="" action="/attack" >
  <input type="submit" name="" value="Attack">
</form>
