<h1><%= @player_1_name %> v. <%= @player_2_name %></h1>
<h2><%= @player_1_name %>'s turn to attack!</h2>
<div class="">
  <h3><%= @player_1_name %>'s Hit Points: <%= @player_1_hp %></h3>
  <h3><%= @player_2_name %>'s Hit Points: <%= @player_2_hp %></h3>
  <div class="">
    <h3><%= @player_1_name %>'s turn to attack <%= @player_2_name %></h3>
  </div>
</div>
<form class="" action="/attack" >
  <input type="submit" name="" value="Attack">
</form>
